// Colors by Function
$background: #faf4ed;
$surface: #fffdf9;
$text: #2f3347;
$text-muted: #5c6075;
$accent-1-dark: #264653;
$accent-1-light: #cfe3d2;
$accent-2-dark: #d79921;
$accent-2-light: #f3dfaa;


// Typography - WIP

$font-heading: "Comic Mono", monospace;
$font-body: "Source Sans 3", sans-serif;
$font-code: "Fira Code", monospace;

// Layout
$site-width: 70rem;
$content-width: 48rem;
$spacing-sm: 0.875rem;
$spacing: 1.125rem;
$spacing-lg: 1.875rem;
$border-radius: 12px;

// Effects - WIP